<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="google-signin-client_id" content="66927250814-m0m7nquvfrsj9ef8ae0eoojt5i7t6e69.apps.googleusercontent.com">
  <title>Login: The Yellow Line</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'yellow_line/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'yellow_line/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="gray" role="navigation">
    <div class="nav-wrapper container" style="color:white">
      <ul class="right hide-on-med-and-down">
        <li><a href="/yellow_line/signup/">Signup</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <a href="/yellow_line/"><img class="responsive-img" src="{% static 'yellow_line/yellowlinelogo.png' %}"></a>
        </div>
        <div class="row">
          <div class="col s2"></div>
          <div class="col s8">
        <div style="color:black">
            <form id="login_form" method='POST' action="/yellow_line/login/">
            <!-- <label for="username">Username</label>
            <input id="username" type="text" value="" name="username"><br>
            <label for="password">Password</label>
            <input id="password" type="password" value="" name="password"><br>
          </div>
          <div class="col s2"></div>
        </div>
        <div class="row">
          <div class="col s4"></div>
          <div class="col s4 center">
          <input class="waves-effect waves-light btn" type="submit" value="submit">Login</input>
          <a class="waves-effect waves-light btn" href="/yellow_line/signup/">Sign Up</a> -->

          <label for="username">Username</label> <input type="text" name="username" value="" size="50" />
            <br />
            <label for="password">Password</label> <input type="password" name="password" value="" size="50" />
            <br />
            <div class="center">
            <input class="waves-effect waves-light btn" type="submit" value="submit" />
            <a class="waves-effect waves-light btn" href="/yellow_line/signup/">Sign Up</a>
          </div>
          </div>
          <div class="col s4"></div>
        </div>
          </form>
        </div>
      </div>
        <div class="row center">
    </div>
  </div>



  <footer class="page-footer amber darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'yellow_line/js/materialize.js' %}"></script>
  <script src="{% static 'yellow_line/js/init.js' %}"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  </body>
</html>