<!DOCTYPE html>
<html lang="en">{% load static %} 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Sign Up: The Yellow Line</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'yellow_line/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'yellow_line/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="gray" role="navigation">
    <div class="nav-wrapper container">
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <a href="/yellow_line/"><img class="responsive-img" src="{% static 'yellow_line/yellowlinelogo.png' %}"></a>
        </div>
        <!--
        <div class="row">
          <div class="input-field col s6 offset-s3">
          <input id="name" type="text" class="validate">
          <label for="email">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
          <input id="email" type="text" class="validate">
          <label for="email">Ashoka Email ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="password2" type="password" class="validate">
          <label for="password2">Re-enter Password</label>
        </div>
      </div>
        <div class="row">
          <div class="col s4"></div>
          <div class="col s4 center">
          <a class="waves-effect waves-light btn" href="/yellow_line/Art.html">Register</a>
          <a class="waves-effect waves-light btn" href="/yellow_line/Art.html">Clear</a>
          </div>
          <div class="col s4"></div>
        </div> -->

        {% if registered %}
        <label style="color: #000; font-size: larger;"> Thank you for registering. Click <a href="/yellow_line/">here</a> to access the list of events.</label><br><br>
        {% else %}

        <form id="user_form" method="post" action="/yellow_line/signup/" enctype="multipart/form-data">


            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
          <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
            <div style="color:black" style="position: relative;">
          <label for="username">Username* (Letters, digits and @/./+/-/_ only)</label>{{ user_form.username }}<br>
          <label for="first_name">First Name</label>{{ user_form.first_name }}<br>
          <label for="last_name">Last Name</label>{{ user_form.last_name }}<br>
          <label for="email">Email</label>{{ user_form.email }}<br>
          <label for="password">Password</label>{{ user_form.password }}<br>
            <label>Check event categories that interest you:</label>
            <!-- <div class="profile_form as_table" style="margin-top: 15px; table-layout: auto; box-sizing: all; column-gap: all;" > -->
            {{ profile_form }}<!-- </div> -->
            </div>
            <br>
          </div>
          <div class="col s2"></div>
        </div>
            <div class="row">
              <div class="col s4"></div>
              <div class="col s4 center">
                <!-- Provide a button to click to submit the form. -->
            <input class="waves-effect waves-light btn" type="submit" name="Submit" value="Sign Up"> 
            </input>
            <input class="waves-effect waves-light btn" type="reset" name="Reset" value="Clear"> 
            </input>
              </div>
              <div class="col s4"></div>
          </div>
        </form>
        {% endif %}
</div>

    </div>
  </div>



  <footer class="page-footer amber darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'yellow_line/js/materialize.js' %}"></script>
  <script src="{% static 'yellow_line/js/init.js' %}"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  </script>
   <script>$(document).ready(function() {
    $('select').material_select();
  });</script>

  </body>
</html>
