/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #FFD700;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

[type="checkbox"] + label, label[for="id_art"]{
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: auto;
  font-size: 1rem;
}

[type="checkbox"] + label::before{
  content: none;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: relative;
  left: 0;
  opacity: 1;
  transform: scale(1.5);
  left:5px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}